@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Krona+One&family=Montserrat:wght@900&family=Open+Sans:wght@300&family=Poppins:wght@100;400&family=Prompt:wght@300;500&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Prompt', sans-serif;
  padding: 40px;
}

.container {
  margin: 0 auto;
  width: 80%;
  min-height: 75vh;
  display: flex;
  background-color: blueviolet;
}

ul {
  width: 60%;
  padding: 20px;
}

li {
  font-size: 13px;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.274);
  margin-bottom: 10px;
  display: flex;
}

li p {
  margin-left: 20px;
}

.list-container {
  z-index: 4;
  width: 85%;
  display: flex;
}

li button {
  width: 15%;
  margin-right: 5px;
  border: none;
  color: red;
  padding: 5px;
  background-color: rgb(31, 30, 30);
}

h1 {
  font-size: 39px;
  padding-bottom: 15px;
}

input {
  width: 80%;
  padding: 4px;
  margin: 0 auto;
  font-size: 15px;
  margin-top: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.76);
}

.form {
  padding: 4rem 2rem;
  width: 40%;
}

.form button {
  cursor: pointer;
  margin-top: 20px;
  border: none;
  padding: 5px 18px;
}

.form h1 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.89);
}
