@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Krona+One&family=Montserrat:wght@900&family=Open+Sans:wght@300&family=Poppins:wght@100;400&family=Prompt:wght@300;500&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 12px;
}

body {
  background-color: rgb(231, 231, 231);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Prompt', sans-serif;
  padding: 40px;
}

.container {
  margin: 0 auto;
  width: 80%;
  min-height: 75vh;
  display: flex;
  background-color: blueviolet;
}

.title {
  margin-left: 11rem;
  font-size: 39px;
  padding-bottom: 15px;
}

.books-container h1 {
  margin-left: 20px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.89);
}

.books-container {
  width: 60%;
  padding: 20px;
}

li {
  font-size: 13px;
  width: 90%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.274);
  margin: 10px auto;
  display: flex;
}

li p {
  margin-left: 20px;
}

.list-container {
  z-index: 4;
  width: 85%;
  display: flex;
}

li button {
  width: 15%;
  margin-right: 5px;
  border: none;
  color: red;
  padding: 5px;
  background-color: rgb(44, 44, 44);
}

input {
  width: 80%;
  padding: 4px;
  margin: 0 auto;
  font-size: 15px;
  margin-top: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.76);
}

.form {
  padding: 4rem 2rem;
  width: 40%;
  background-color: rgb(51, 50, 50);
}

.form button {
  cursor: pointer;
  color: #fff;
  margin-top: 20px;
  border: none;
  padding: 5px 18px;
  background-color: rgb(159, 77, 236);
}

.form h1 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.89);
}
